{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Chelsea FC</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis veritatis maiores consequatur consequuntur odio cupiditate eos similique molestias asperiores tempora placeat ad maxime, eius deleniti ipsam velit soluta? Labore, distinctio.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/chelsea.jpg" alt="chelsea" class="img-thumbnail">
        </div>
    </div>

{{>footer }}